.o-section {
	z-index: +99;
}

.o-grid {
	border: none;
}

.c-header {
	background: url(../img/bruges.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.c-aboutme__grid {
	color: black;
}

#container {
	height: 100vh;
	width: 100%;
	position: fixed;
	width: 50vw;
	top: 0;
	right: 0;
	pointer-events: none;
}

.o-grid__title {
	font-size: 5vw;
}
